<section class="contact-us">
    
 
        <div class="contact-first-part">
            <iframe
                width="100%"
                height="400"
                frameborder="0"
                style="border: 0"
                {% comment %} src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d[Your-Latitude]!2d[Your-Longitude]!3d[Your-Map-Zoom-Level]!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s[Your-Map-Search-Query]!2s[Your-Map-Search-Query]!5e0!3m2!1sen!2sus!4v1638398261204!5m2!1sen!2sus" {% endcomment %}
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21058.496457436857!2d85.31163533046741!3d27.695647509902404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1995934a1cbb%3A0xf2ad5bed44608b04!2sEverest%20Mandarin%20Restaurant!5e0!3m2!1sen!2snp!4v1701355449631!5m2!1sen!2snp"
                allowfullscreen=""
                loading="lazy"
            ></iframe>
           
        </div>


    <!-- Second Part (Contact Form) -->
    <div class="contact-second-part">
        <h2>Contact Us</h2>
        <form action="{% url 'contact_us'%}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="firstname">First Name:</label>
                <input type="text" id="firstname" name="firstname" required>
            </div>
            <div class="form-group">
                <label for="lastname">Last Name:</label>
                <input type="text" id="lastname" name="lastname" required>
            </div>
            <div class="form-group">
                <label for="service">What can I do for you?</label>
                <select id="service" name="service">
                    <option value="Home Delivery">Home Delivery</option>
                    <option value="Reservation">Reservation</option>
                    <option value="Feedback">Feedback</option>
                </select>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number:</label>
                <div class="phone-input">
                    <select id="country-code" name="country-code">
                        <!-- Add options for country codes -->
                        <option value="+977">+977</option>
                        <option value="+44">+44</option>
                        <!-- Add more options as needed -->
                    </select>
                    <input type="tel" id="phone" name="phone" required>
                </div>
            </div>
            <div class="form-group">
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="4" required></textarea>
            </div>
            <button type="submit">Send Message</button>
        </form>
    </div>
</section>
